@charset "UTF-8";

.slide{width: 100%; height: auto; margin: 0 auto; position: relative; display: flex; 
justify-content: center; flex-direction: column; align-items: center;}
.slide video{width: 100%; height: 100%;}
.slide h1{color: white; text-align: center;font-size: 50px;}

.slide #btn{width: 500px; height: 500px; flex-wrap: wrap;
display: flex; align-content: center;  justify-content:  space-evenly;
position: absolute;  z-index: 3; margin: 0 auto;}

.slide #btn a{width: 100%;}
.slide #btn button{font-size: 20px; cursor: pointer; font-weight: bold;}
.slide #btn #btn1{width: 150px; height: 50px; background-color: rgb(46, 85, 155); 
color: white; border: 0;}
.slide #btn #btn2{width: 150px; height: 50px; background-color: black; color: white;
border: 1px solid white;}
.slide #btn #btn1:hover{background-color: black;}
.slide #btn #btn2:hover{background-color: rgb(46, 85, 155); border: 0;}

#cars{width: 100%; height: 250px; display: flex; margin-top: -4px;}
#cars div img{width: 200px; height: 120px; }
#cars .cars1{width: 25%; height: 250px; background-color: rgb(46, 85, 155); 
display: flex; flex-wrap: wrap; align-content: center; font-size: 30px;
font-weight: bold;}
#cars .cars1 a{width: 100%;display: flex; justify-content: center; flex-wrap: wrap;}
#cars .cars1:nth-of-type(even){background-color: rgb(255, 245, 242)}
#section1 {width: 100%; height: 515px; display: flex; justify-content: center;}
#section1 .io{width: 50%;}
#section1 .txt{width: 50%;}

#etc{width: 100%; height: auto; margin: 0 auto;}
#etc .etc1{width: 1200px; height: 3000px; background-color: coral;}